@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body { background:#fff;font-family:"gulim", sans-serif;font-size:12px;color:#5b5b5b;line-height:100%;font-weight:normal;padding:0px;margin:0px;letter-spacing:-0px; }
html, body { width:100%;height:100%;letter-spacing:0px; }
div, p, ul, li, table, th, td, textarea, input, span, form, h1, h2, h3, h4, h5, h6, dt, dl, dd, em, sup {padding:0px;margin:0px;}
ul, ol, dl, dd, dt, li { list-style-type:none;margin:0;padding:0px;line-height:100%;font-size:12px;color:#5b5b5b;letter-spacing:0px; }
form, fieldset, p {margin:0;padding:0;border:0;}
img {border:0;vertical-align:middle;outline:none;}

a,a:link,a:visited,a:active{color:#575757;letter-spacing:normal;text-decoration:none;letter-spacing:-0.8px;}
a:hover{color:#575757;text-decoration:underline;}


.container::after{content:""; display:block; clear:both;width:100%;}

header{width:100%;}

#logo{width:150px;
      margin-top:50px;
      margin-left:10%;
      margin-bottom:20px;
      position:fixed;}
#logo img{width:100%;}
#sticker1 img{width:50px;
            position:absolute;
            top:20%;
            left:30%;}
#sticker2 img{width:50px;
            position:fixed;
            top:57%;
            left:80%;}
#sticker3 img{width:50px;
              position:absolute;
              top:90%;
              left:10%;}
#sticker4 img{width:170px;
              position:fixed;
              margin-top:500px;
              margin-left:72%;
              margin-bottom:50px;}

#sticker1-1 img{width:70px;
              position:absolute;
              top:40%;
              left:8%;}

#sticker3-1 img{width:40px;
              position:absolute;
              top:92%;
              left:50%;}
#sticker5 img{width:40px;
              position:absolute;
              top:92%;
              left:56%;}
#sticker6 img{width:40px;
              position:absolute;
              top:92%;
              left:63%;}
nav{width:15%;
    float:left;
    position:fixed;
    margin-top:80px;}
nav li{width:80%;
        border-radius:2px;
        font-size:9px;
        text-align:center;
        line-height:20px;
        background-color:#CDECFA;
        margin-top:3%;}
h2{color:#F98500;}
section{float:left;
      width:74%;
      margin-left:35%;
      margin-top:10%;}

article{width:100%;}
.container{width:80%;
          margin-top:90px;
          margin:0 auto;}
.para{width:70%;
/**background-color:#F4FCDC;**/}
.para img{width:98%;
          margin-top:5px;
          margin-left:1%;
          margin-right:1%;}
.para p{width:80%;
        margin:0 auto;
        margin-top:20px;
        text-indent:2%;
        line-height:20px;
        text-align:justify;}
footer{width:100%;
      font-size:3px;
      color:#f4bbe8;
      line-height:70px;
      margin-top:150px;
      text-align:center;}
